extends layout

block content
  h1 Update scoreboard
  div.scoreboard
    form
      select(name='team')
        option(value='rode duivels') Rode Duivels
        option(value='club brugge') Club Brugge
        option(value='kv mechelen') KV Mechelen
        option(value='anderlecht') Anderlecht
        option(value='beerschot') Beerschot
      div.input_text
        input.score(type='text' placeholder='Score' maxlength="4")
      input(type='submit' value="submit")
        
