extends layout

block content
  h1 Scoreboard
  p View live updates

  table 
    tr 
      th Team 
      th Score
    tr 
      td Rode Duivels 
      td.livescore 1
    tr 
      td Club Brugge
      td.livescore 1
    tr 
      td KV Mechelen
      td.livescore 1
    tr 
      td Anderlecht
      td.livescore 1
    tr 
      td Beerschot
      td.livescore 1